#button1{
    background-color: rgb(92, 183, 220);
padding: 10px;
border-radius: 5px;
justify-content: center;
align-items: center;

}

#button2{
    background-color: rgb(92, 183, 220);
padding: 10px;
border-radius: 5px;
justify-content: center;
align-items: center;

}

#button3{
    background-color: rgb(92, 183, 220);
padding: 10px;
border-radius: 5px;
justify-content: center;
align-items: center;

}